openapi: 3.1.0
info:
  title: OpenHands Add Git Providers Secrets API
  description: 'OpenHands: Code Less, Make More'
  version: 0.53.0
servers:
- url: https://app.all-hands.dev
  description: Production server
- url: http://localhost:3000
  description: Local development server
tags:
- name: Secrets
paths:
  /api/secrets:
    get:
      summary: Load Custom Secrets Names
      operationId: load_custom_secrets_names_api_secrets_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETCustomSecrets'
      security:
      - APIKeyHeader: []
      tags:
      - Secrets
    post:
      summary: Create Custom Secret
      operationId: create_custom_secret_api_secrets_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomSecretModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
                title: Response Create Custom Secret Api Secrets Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      tags:
      - Secrets
  /api/secrets/{secret_id}:
    put:
      summary: Update Custom Secret
      operationId: update_custom_secret_api_secrets__secret_id__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: secret_id
        in: path
        required: true
        schema:
          type: string
          title: Secret Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomSecretWithoutValueModel'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
                title: Response Update Custom Secret Api Secrets  Secret Id  Put
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Secrets
    delete:
      summary: Delete Custom Secret
      operationId: delete_custom_secret_api_secrets__secret_id__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: secret_id
        in: path
        required: true
        schema:
          type: string
          title: Secret Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Secrets
components:
  schemas:
    CustomSecretWithoutValueModel:
      properties:
        name:
          type: string
          title: Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
      type: object
      required:
      - name
      title: CustomSecretWithoutValueModel
      description: Custom secret model without value
    CustomSecretModel:
      properties:
        name:
          type: string
          title: Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        value:
          type: string
          format: password
          title: Value
          writeOnly: true
      type: object
      required:
      - name
      - value
      title: CustomSecretModel
      description: Custom secret model with value
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    GETCustomSecrets:
      properties:
        custom_secrets:
          anyOf:
          - items:
              $ref: '#/components/schemas/CustomSecretWithoutValueModel'
            type: array
          - type: 'null'
          title: Custom Secrets
      type: object
      title: GETCustomSecrets
      description: Custom secrets names
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Session-API-Key
